{% extends 'shared/base.html' %}

{% block content %}
    <div class="col-lg-2 text-center">
        <img src="{{ product.image.url }}" alt="">
        <h2>{{ product.name }}</h2>
        {% if product.price.is_integer %}
            <h3>{{ product.price }}0 BGN</h3>
        {% else %}
            <h3>{{ product.price }} BGN</h3>
        {% endif %}

        {% if is_owner %}
            <a class="btn btn-primary" href="{% url 'edit product' product.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'delete product' product.id %}">Delete</a>
        {% endif %}
        <br>
    </div>

    <div class="col-lg-2 text-center">
        <h2>Reviews:</h2>
    </div>

    <div>
        {% if reviews %}
            {% for review in reviews %}:
                <div class="box">
                    {% if review.text %}
                        <h4>{{ review.name }}: {{ review.text }} | Rating: {{ review.rating }}/5</h4>
                    {% else %}
                        <h4>{{ review.name }}'s Rating: {{ review.rating }}/5</h4>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <h4>No reviews for this product.</h4>
            <br>
        {% endif %}
    </div>

    {% if not is_owner %}
        <div class="box">
            <div class="col-lg-2 text-center">
                <h2>Add a Review:</h2>
            </div>

            <form method="post" action="{% url 'review product' product.id %}" class="form-control">
                {% csrf_token %}
                {{ review_form }}
                <button type="submit" class="btn btn-primary">Add Review</button>
            </form>
    </div>
    {% endif %}
{% endblock %}