{% extends 'shared/base.html' %}

{% block content %}
    {% if products %}
        <div class="row">
        {% for product in products %}
            <div class="col-lg-2 text-center">
                <div class="card" style="width: 18rem; height: 25rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h2 class="card-title">{{ product.name }}</h2>

                        {% if product.price.is_integer %}
                            <h3 class="card-text">{{ product.price }}0 BGN</h3>
                        {% else %}
                            <h3 class="card-text">{{ product.price }} BGN</h3>
                        {% endif %}

                        <a class="btn btn-primary" href="{% url 'details of product' product.id %}">See More</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>There Are No Products</h1>
    {% endif %}
{% endblock %}
